<div class="chess-board">
    <div *ngFor="let row of chessBoardView; let x = index" class="row">
        <div *ngFor="let peice of row; let y = index" class="square" 
            [ngClass] = "{
                'dark' : isSquareDark(x, y), 
                'light' : !isSquareDark(x, y),
                'selected-square': isSquareSelected(x, y) ,
                'last-move': isSquareLastMove(x, y),
                'king-in-check': isSquareChecked(x, y),
                'promotion-square': isSquarePromotionSquare(x, y)
            }"
            
            (click)="move(x,y)"
        >
            <div [ngClass]="{'safe-square': isSquareSafeForSelectedPeice(x, y)}" ></div>
            <img *ngIf="peice" [src]="peiceImagePaths[peice]" [alt]="peice" class="piece">
        </div>
    </div>
    
</div>
<div *ngIf="isPromotionActive" class="promotion-dialog">
    <img *ngFor="let peice of promotionPeices()" [src] = "peiceImagePaths[peice]" [alt]="peice" (click)="promotePeice(peice)" >
    <span class="close-promotion-dialog" (click)="closeDialog()"> &times; </span>
</div>